tcc.osgi.prototype.standard.project/web.application.standard.module1/target/
tcc.osgi.prototype.standard.project/web.application.standard.module2/target/
tcc.osgi.prototype.standard.project/osgi.bundle.standard.bundles.control/target/
tcc.osgi.prototype.standard.project/osgi.bundle.service.standard.module3/target/
tcc.osgi.prototype.standard.project/osgi.bundle.service.standard.module4/target/
smom/smom1/osgi.bundle.module1/target
smom/smom1/web.bundle.module2/target